<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Server/src/avviaServer/StartServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="avviaServer.StartServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Server"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.rmi.server.codebase=file:${workspace_loc:Common}\bin\&#13;&#10;-Djava.security.policy=file:${workspace_loc:Common}\bin\java.policy"/>
</launchConfiguration>
